body {
  font-family: Verdana, 'Trebuchet MS', Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.question {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}
.question label {
  display: block;
  margin: 5px 0;
}
.correct {
  background-color: #8bda8d;
}

.incorrect {
  background-color: #c25e3f;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
}
